{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="\media\logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <title>Double J Market</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
 
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-info border-bottom shadow-sm mb-3">
    <div class="container">
      <a class="navbar-brand" href="http://127.0.0.1:8000/#">
        <img class="logo" src="\media\logo2.png" alt="Logo">
        <img class="letras" src="\media\letras.png" alt="Logo">
      </a>
    <div class="input-group mx-auto">
      <form method="GET" action="{% url 'buscar_produtos' %}" class="form-inline my-2 my-lg-0 ml-auto">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite aqui para buscar" name="search" id="search" value="{{ termo_de_busca }}">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="button-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
      </form>
    </div>
    
      </div>
    </div>
    <div class="align-self-end">
      <ul class="navbar-nav" style="margin-right: 10px; display: flex; align-items: center;">
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link text-light d-flex align-items-center" href="\login">
              <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="auto" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16" >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            &nbsp;
                  {{ user.username }}
            {% else %}
              <a class="nav-link text-light d-flex align-items-center" href="\login">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="auto" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16" >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              &nbsp;
                    Login
            {% endif %}
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light d-flex align-items-center" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="auto" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
              &nbsp;Sair
          </a>
      </li>
        <li class="nav-item">
            <a class="nav-link text-light d-flex align-items-center" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="auto" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
                &nbsp;Pedidos
            </a>
        </li>
    </ul>
    
    </div>
    </div>
    </div>
  </nav>
  <main>
    <div class="container">
     
    {% block content %}
    {% endblock %}   
    
</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  
  </html>