{% extends "base.html" %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>Cadastro</h1>

<form action="{% url 'cadastro' %}" method="post"> {% csrf_token %}
    <input type="text" placeholder="Nome de usuário" name="username">
    <br>
    <input type="text" placeholder="Nome" name="nome">
    <br>
    <input type="text" placeholder="CPF" name="cpf">
    <br>
    <input type="password" placeholder="Senha" name="senha">
    <br>
    <input type="submit" placeholder="Cadatrar">

</form>

{% endblock %}