{% extends 'base.html' %}
{% load static %} 
{% block content%}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/detalhe.css' %}">
<style>img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
</style>
           
<div class="product-container">
  <div class="product-image">
    <img data-vtex-preload="true" class="vtex-store-components-3-x-productImageTag vtex-store-components-3-x-productImageTag--main" 
      src="{{ produto.imagem.thumb.url }}" 
      loading="eager" 
      sizes="(max-width: 64.1rem) 100vw, 50vw" 
      crossorigin="anonymous">              
  </div>
  <div class="product-details">
    <div class="product-title">{{ produto.nome_produto }} </div>
    <h6>Marca: {{produto.marca}}</h6>
    <div class="product-info">
      <div class="product-header">R${{ produto.preco |floatformat:1 }}</div>
      <div class="product-header">Peso{{ produto.dividir }}</div>
    </div>
    <div class="btn-comprar"> 
      <button><svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" viewBox="0 0 16 16">
        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
      </svg> Comprar</button>
    </div>
  </div> 
</div>

{% endblock %}
