{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'ico/logo.ico' %}" type="image/x-icon">
    <title>Double J Market</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
       .double {
            color: rgb(0, 183, 255);
        }

        .market {
            color: green;
        }
         .title {
            text-align: center;
            line-height: 0.8; /* Espaçamento entre as linhas */
        }

    
    </style>
</head>
<body>
  
  <div class="container">
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">Pagina Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/admin">Login</a>
      </li>
    </ul>
    
    <!-- Adicione o seu conteúdo personalizado aqui -->
    <header>
      <header>
            <!-- Use as classes criadas para aplicar cores diferentes -->
            <h1 class="title"> <img src="{% static 'img/logo.png' %}" alt="Logo"></h1>
              
        </header>
    </header>

  {% for produto in produtos %}
  <ul>
    <li>{{ produto.nome_produto }}, {{ produto.preco }}</li>
    <a href="google.com">Mais</a>
  </ul>  
  
  {% endfor %}
 

  </div>
    
</body>
</html>
